<?xml version='1.0' encoding='utf-8'?>
<plugin id="tushar-plugin-CheckSoftNavigation" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CheckSoftNavigation</name>
    <js-module name="CheckSoftNavigation" src="www/CheckSoftNavigation.js">
        <clobbers target="cordova.plugins.CheckSoftNavigation" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CheckSoftNavigation">
                <param name="android-package" value="com.tushar.CheckSoftNavigation.CheckSoftNavigation" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/CheckSoftNavigation.java" target-dir="src/com/tushar/CheckSoftNavigation"/>
    </platform>
</plugin>